<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @tag.label %>
</p>

<p>
  <strong>Is delete:</strong>
  <%= @tag.is_delete %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
